@page "/"
@using Car_Rental.Common.Interfaces
@using Car_Rental.Common.Enums
@using Car_Rental.Common.Classes
@using System.Text.Json;
@using Car_Rental.Business.Classes;

@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject Car_Rental.Business.Classes.BookingProcessor BookingProcessor

<h1>Welcome to Car Rental</h1>
<div class="container">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @errorMessage
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close" @onclick="ClearErrorMessage">
            
            </button>
        </div>

    }
</div>

<h2>Vehicles</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Make and model</th>
            <th>Odometer Position</th>
            <th>Cost Per Kilometer</th>
            <th>Vehicle Type</th>
            <th>Daily Rate</th>
            <th>Rental Status</th>
        </tr>
    </thead>
    <tbody>
        <!-- Input row for adding a new vehicle -->
        <tr>
            <td><input @bind="newVehicle.RegistrationNumber" class="form-control" placeholder="Registration Number" /></td>
            <td><input @bind="newVehicle.Make" class="form-control" placeholder="Make and Model" /></td>
            <td><input @bind="OdometerPositionNullable" class="form-control" placeholder="Odometer Position" type="number" /></td>
            <td><input @bind="CostPerKilometerNullable" class="form-control" placeholder="Cost Per Kilometer" type="number" /></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="vehicleTypeDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @newVehicle.VehicleType
                    </button>
                    <div class="dropdown-menu" aria-labelledby="vehicleTypeDropdown">
                        @foreach (var vehicleType in Enum.GetValues(typeof(VehicleType)))
                        {
                            <button class="dropdown-item" @onclick="() => SelectVehicleType((VehicleType)vehicleType)">@vehicleType</button>
                        }
                    </div>
                </div>


            </td>
            <td><input @bind="DailyRateNullable" class="form-control" placeholder="Daily Rate" type="number" /></td>
            <td><input @bind="newVehicle.BookingStatus" class="form-control" placeholder="Booking Status" /></td>
            <td><button class="btn btn-success" @onclick="AddNewVehicle">Add</button></td>
        </tr>


        <!-- Existing vehicles -->
        @if (Vehicles != null)
        {
            @foreach (var vehicle in Vehicles)
            {
                <tr>
                <td>@vehicle.RegistrationNumber</td>
                <td>@vehicle.Make</td>
                <td>@vehicle.OdometerPosition</td>
                <td>@vehicle.CostPerKilometer</td>
                <td>@vehicle.VehicleType</td>
                <td>@vehicle.DailyRate</td>
                <td>@vehicle.BookingStatus</td>
            </tr>
            }
        }
        else
        {
            <p>Loading...</p>
        }
    </tbody>
</table>

<h2>Bookings</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Customer Name</th>
            <th>Odometer Start</th>
            <th>Odometer End</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Cost</th>
            <th>Booking Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Bookings != null)
        {
            @foreach (var booking in Bookings)
            {
                <tr>
                    <td>
                        <button type="button" class="btn btn-outline-info" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-title="Vehicle Information" data-bs-placement="bottom" data-bs-content="
                            <strong>@booking.Vehicle.Make</strong>, @booking.Vehicle.VehicleType<br>
                            <strong>Cost per km:</strong> @FormatAsCurrency(@booking.Vehicle.CostPerKilometer)<br>
                            <strong>Daily rate:</strong> @FormatAsCurrency(@booking.Vehicle.DailyRate)">
                            @booking.Vehicle.RegistrationNumber
                        </button>
                    </td>
                    <td>@booking.CustomerName</td>
                    <td>@booking.OdometerStart</td>
                    <td>@booking.OdometerEnd</td>
                    <td>@booking.StartDate</td>
                    <td>@booking.EndDate</td>
                    <td>
                        <button type="button" class="btn btn-outline-info" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-title="Price breakdown" data-bs-placement="bottom" data-bs-content="
                            <strong>Total km cost for @booking.TotalKilometers km</strong><br>
                            @FormatAsCurrency(@booking.TotalKilometerCost)<br>
                            <strong>Total daily cost for @booking.RentalDays days</strong><br>
                            @FormatAsCurrency(@booking.TotalDailyCost)">
                            @FormatAsCurrency(@booking.TotalCost)
                        </button>
                    </td>
                    <td>@booking.BookingStatus</td>
                </tr>
            }
        }
        else
        {
            <p>Loading...</p>
        }

    </tbody>
</table>


@* <button type="button" class="btn btn-lg btn-danger" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-placement="bottom" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
<button @onclick="ReinitializePopovers">Reinitialize Popovers</button> *@

<h2>Customers</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Social Security Number</th>
            <th>Last Name</th>
            <th>First Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Customers != null)
        {
            @foreach (var customer in Customers)
            {
                <tr>
                    <td>@customer.SocialSecurityNumber</td>
                    <td>@customer.LastName</td>
                    <td>@customer.FirstName</td>
                </tr>
            }
        }
        else
        {
            <p>Loading...</p>
        }

    </tbody>
</table>
<div id="popoverContent" style="display: none;">
    <table class="table table-bordered">
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Vehicle Make</td>
        </tr>
        <tr>
            <td>Registration Number</td>
        </tr>
        <tr>
            <td>Cost Per Kilometer</td>
        </tr>
        <!-- Add more rows for other attributes -->
    </table>
</div>
<script>
    new bootstrap.Popover(document.body, {
        selector: '[data-bs-toggle="popover"]',
        container: 'body'
        html: true,
    });

</script>
@code {
    IVehicle newVehicle = new Vehicle("", "");
    double? OdometerPositionNullable;
    double? CostPerKilometerNullable;
    double? DailyRateNullable;
    private VehicleType selectedVehicleType;
    string errorMessage = "errormessage is unchanged";
    // private IEnumerable<IBooking> Bookings { get; set; }
    // private IEnumerable<IPerson> Customers { get; set; }
    // private IEnumerable<IVehicle> Vehicles { get; set; }
    List<IBooking> Bookings = new List<IBooking>();
    List<IPerson> Customers = new List<IPerson>();
    List<IVehicle> Vehicles = new List<IVehicle>();
    string[] dataToLoad = { "vehicles", "people", "bookings" };
    protected override async Task OnInitializedAsync()
    {
        await BookingProcessor.InitializeDataAsync();
        Bookings = BookingProcessor.GetBookings().ToList();
        Customers = BookingProcessor.GetCustomers().ToList();
        Vehicles = BookingProcessor.GetVehicles().ToList();
        errorMessage = BookingProcessor._dataService.GetErrorMessage();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("reinitializePopovers");
    }
    private void SelectVehicleType(VehicleType vehicleType)
    {
        selectedVehicleType = vehicleType;
        newVehicle.VehicleType = vehicleType;
    }

    private void AddNewVehicle()
    {
        if (string.IsNullOrWhiteSpace(newVehicle.RegistrationNumber) ||
            string.IsNullOrWhiteSpace(newVehicle.Make) ||
            OdometerPositionNullable < 0 ||
            CostPerKilometerNullable <= 0 ||
            DailyRateNullable <= 0)
        {
            errorMessage = "Please fill in all required fields and ensure numeric values are positive.";
        }
        else
        {
            newVehicle.CostPerKilometer = CostPerKilometerNullable ?? 0.0;
            newVehicle.DailyRate = DailyRateNullable ?? 0.0;
            newVehicle.OdometerPosition = OdometerPositionNullable ?? 0.0;
            BookingProcessor.AddDataObject(newVehicle);
            Vehicles = BookingProcessor.GetVehicles().ToList();
            //errorMessage = $"newVehicle is of type {newVehicle.GetType()}";
            // Vehicles.Add(newVehicle);
            newVehicle = new Vehicle("", "");
            OdometerPositionNullable = CostPerKilometerNullable = DailyRateNullable = null;
            //errorMessage = "";
            errorMessage = BookingProcessor._dataService.GetErrorMessage();
        }
    }
    private void ClearErrorMessage()
    {
        errorMessage = "";
    }


    public string FormatAsCurrency(double amount) => string.Format("${0:N2}", amount);
}